@import url(../css/fonts.css);

:root {
    --primary: #2b2928;
    --primary-light: lightgray;
    --white: white;
    --black: #2b2928;
}

body {
    margin: 0;
    background-color: white;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    font-family: 'NHaas';
    color: var(--black);
}

h2 {
    font-family: 'NHaas';
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 100vh;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-rows: 35px repeat(11,1fr);
    position: relative;
    margin-top: 24px;
}

.navbar {
    display: grid;
    grid-column: 1/4;
    grid-row: inherit;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.container-nav-item {
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid var(--black) ;
}

.nav-item {
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    color: var(--black);
    width: 100%;
    text-indent: 6px;
}


.button {
    position: relative;
}

.button:hover .arrow {
    transform-origin: center;
    transform: scale(1.2);
}

.desktop .arrow-unactive {
    display: none;
}

.arrow {
    transition: 0.2s;
    position: absolute;
    right: 15px;
    font-family: 'NHaas';
}

.container-top {
    display: grid;
    grid-column: 1/4;
    grid-template-rows: auto;
    border-bottom: 1px solid var(--black) ;
}

.container-menu-list {
    display: grid;
    grid-column: 1/4;
}

.menu-item {
    display: flex;
    font-weight: bold;
    color: var(--black);
    align-items: center;
    text-indent: 6px;
    width: 100%;
}

.download-item {
    display: flex;
    border-bottom: 1px solid var(--black);
    font-weight: bold;
    color: var(--black);
    align-items: center;
}

#cv-text {
    border: none;
    width: 100%;
}

.container-menu-item {
    display: flex;
    height: 35px;
    justify-content: space-between;
    border-bottom: 1px solid var(--black) ;
}

.menu-item span{
    padding-left: 4px;
}

.container-content {
    display: grid;
    grid-column: 4/11;
    grid-row: 1/13;
    margin-left: 24px;
    row-gap: 24px;
    grid-template-rows: repeat(12, 1fr);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-cv-img {
    display: grid;
    grid-row: 2 / span auto;
}


.container-cv {
    display: grid;
    grid-column: 3/7;
    margin: 30px;
}

#cv-download {
    display:grid;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 50px;
}

.download {
    color: var(--black);
    padding: 2px 10px;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid var(--black);
    align-self: center;
    font-family: 'iAWriter';
}

#cv-img {
    max-width: 100%;
}

.container-content::-webkit-scrollbar {
    display: none;
}

.container-content-item {
    display: grid;
    grid-column: 1/7;
    grid-row: auto;
    grid-template-columns: repeat(6, 1fr);
}

.content-title {
    display: grid;
    grid-column: 1/4;
    grid-row: auto;
    font-family: 'NHaas';
    font-weight: bolder;
}

.content-descr {
    display: grid;
    /* margin-left: 24px; */
    grid-column: 4/7;
    grid-row: auto;
    font-family: 'iAWriter';
    text-align: justify;
}

.container-project-item {
    display: grid;
    grid-column: 1/7;
    /* border-top: 1px solid #3C3A38 ; */
    grid-template-columns: repeat(6, 1fr);
}

.projects-menu {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    position: relative;
}

.project-title {
    display: flex;
    grid-column: 1/5;
    grid-row: 1;
    font-family: 'NHaas';
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 24px;
}

.project-descr {
    display: flex;
    /* margin-left: 24px; */
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 3;
    font-family: 'iAWriter';
    text-align: justify;
}

.project-labels {
    grid-column: 1/5;
    grid-row: 2;
    font-family: 'iAWriter';
    font-size: smaller;
}

.label{
    background-color: var(--black);
    color: white;
    padding: 2px 10px;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 2em;
}

.container-project-img {
    display: flex;
    grid-column: 1 / 5;
    grid-row: 4 / span 3;
    margin-left: 25px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 4px;
}

.project-img {
    max-width: 100%;
    max-height: 100%;
}

.intext-link {
    font-family: 'iAWriter';
    text-decoration: underline;
    color: var(--black);
}

#name {
    font-family: "NHaas";
    font-size: 40px; 
    font-weight: bold;
    margin-top: 10px;
}

#about-undertitle {
    font-family: "iAWriter";
    text-align: justify;
    color: var(--black);
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}


#about-maintext {
    font-family: "iAWriter";
    text-align: justify;
    color: var(--black);
    margin-bottom: 10px;
}

#about-undertext {
    grid-column-start: 2;
    font-size:2rem;
    text-align: justify;
    color: var(--black);
    font-weight: bold;
    font-family: iAWriter;
    margin-bottom: 50px;
}

#drawing-canvas {
    position: absolute;
    top: 0px;
    z-index: -2;
}

.active a {
    color: var(--white);
}

.active .download {
    background-color: var(--white);
    color: var(--black);
}

.hidden {
    display: none;
}

.tree-switch {
    /* position: absolute; */
    display: grid;
    grid-row: 12;
    grid-column: 1/2;
    grid-template-rows: 1fr 1fr;
}

#tree-switch-text {
    font-family: 'iAWriter';
    justify-self: center;
}

.switch {
    position: relative;
    /* display: inline-block; */
    width: 60px;
    height: 34px;
    justify-self: center;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.active {
    background-color: var(--primary);
}

@media (min-width: 700px) {
    .button:hover {
    background-color: var(--primary-light);
}
}

@media (max-width: 700px) { 
    .container {
        display: flex;
        flex-direction: column;
        margin: 12px;
    }

    .container-nav-item {
        height: 35px;
    }

    .navbar {
        height: 35px;
    }

    h1 {
        margin: 12px;
    }

    .container-content {
        margin: 0px;
    }

    .project-title {
        align-self: end;
        grid-column: 1 / span all;
        font-size: 2em;   
    }

    #name {
        font-size: 2em;
    }

    .projects-menu {
        overflow: scroll;
        min-height: 30vmax;
    }
    

    .project-descr {
        grid-column: 1 / span all;
    }

    .container-project-img {
        grid-column: 1 / span all;
        margin-left: 0;
    }

    .tree-switch {
        display: block;
        margin-top: 20px;
        text-align: center;
    }

    #tree-switch-text {
        display: inline;
    }

    .switch {
        display: inline-block;
        width: 30px;
        height: 17px;
    }

    .slider:before {
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }
}