@import url(../css/fonts.css);

body {
    margin: 0;
    background-color: white;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    font-family: 'NHaas';
}

h2 {
    font-family: 'NHaas';
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 100vh;
    margin-left: 24px;
    margin-right: 12px;
    grid-template-rows: repeat(12,1fr);
    position: relative;
    margin-top: 20px;
}

.navbar {
    display: grid;
    grid-column: 1/4;
    grid-row: inherit;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

}

.container-nav-item {
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid #3C3A38 ;
}

.nav-item {
    position: absolute;
    bottom: 2px;
    color: black;
}

.active {
    font-weight: normal;
    color: black;
}


.button:hover .arrow {
    position: relative;
    left: 5px;
}

.arrow {
    font-family: 'iAWriter';
}

.arrow-unactive {
    display: none;
}

.about {
    display: grid;
    grid-column: 1/4;
    grid-row: inherit;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    border-bottom: 1px solid #3C3A38 ;
}

.container-menu-items {
    display: grid;
    grid-column: 1/4;
    grid-row: inherit;
}

.menu-item {
    display: flex;
    grid-column: 1/4;
    grid-row: inherit;
    border-bottom: 1px solid #3C3A38 ;
    font-weight: bold;
    color: black;
    align-items: center;
}

.menu-item span{
    padding-left: 4px;
}

.container-research-interests {
    display: grid;
    grid-column: 4/11;
    grid-row: 1/13;
    margin-left: 24px;
    margin-right: 24px;
    row-gap: 24px;
    grid-template-rows: repeat(12, 1fr);
}

.container-research-interests-item {
    display: grid;
    grid-column: 1/7;
    grid-row: auto;
    /* border-top: 1px solid #3C3A38 ; */
    grid-template-columns: repeat(6, 1fr);
}

.research-interests-title {
    display: grid;
    grid-column: 1/4;
    grid-row: auto;
    font-family: 'iAWriter';
    font-weight: bolder;
}

.research-interests-descr {
    display: grid;
    margin-left: 24px;
    grid-column: 4/7;
    grid-row: auto;
    font-family: 'iAWriter';
    text-align: justify;
}

#name {
    font-family: "NHaas";
    font-size: 40px; 
    font-weight: bold;
    margin-top: 10px;
}

#about-undertitle {
    font-family: "iAWriter";
    text-align: justify;
    color: black;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

#about-maintext {
    font-family: "iAWriter";
    text-align: justify;
    color: black;
    margin-bottom: 10px;
}

#about-undertext {
    grid-column-start: 2;
    font-size:2rem;
    text-align: justify;
    color: #3C3A38;
    font-weight: bold;
    font-family: iAWriter;
    margin-bottom: 50px;
}

#drawing-canvas {
    position: absolute;
    z-index: -2;
}


@media (max-width: 576px) { 
    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin: 12px;
    }
 }